{% extends 'base.html' %}
{% block title %}
    Rest You password
{% endblock %}
{% block content %}
    <h1>Rest Your Password</h1>
    {% if validlink %}
        <p>Pleace Enter Your new password</p>
        <form action="." method="post">
            {{ form.as_p }}
            <input type="submit" value="Change My password" class="btn-primary btn-lg" >
            {% csrf_token %}
        </form>
    {% else %}
        <p>the password rest link is invalid, possibly because it has already used </p>
    {% endif %}

{% endblock %}